.callback {
  min-height: 358px;
  overflow: hidden;
  background: $gradient-bcg;
  position: relative;

  @media (max-width: $tablet-width) {
    min-height: 380px;
  }

  @media (max-width: $mobile-width) {
    min-height: 339px;
  }

  &::before {

    @supports not (background-image: url("../img/callback-girl.webp")) {
      background-image: url("../img/callback-girl.png");
    }

    background-image: url("../img/callback-girl.webp");
    background-repeat: no-repeat;
    content: "";
    width: 352px;
    height: 474px;
    position: absolute;
    right: calc((100% - 886px) / 2);
    bottom: -148px;
    z-index: 3;

    @include retina {

      @supports not (background-image: url("../img/callback-girl@2x.webp")) {
        background-image: url("../img/callback-girl@2x.png");
      }

      width: 352px;
      height: 474px;
      background-size: cover;
      background-image: url("../img/callback-girl@2x.webp");
    }

    @media (max-width: $tablet-width) {
      width: 306px;
      height: 330px;
      background-size: cover;
      bottom: 0;
      right: calc((100% - 736px) / 2);
    }

    @media (max-width: $mobile-width) {
      width: 151px;
      height: 163px;
      background-size: cover;
      right: calc((100% - 264px) / 2);
    }
  }
}

.callback__wrapper {
  max-width: 360px;
  margin-left: 205px;
  padding-top: 86px;
  position: relative;
  z-index: 2;

  @media (max-width: $tablet-width) {
    margin-left: 35px;
    padding-top: 90px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 49px;
  }

  p {
    @include font($raleway, 20px, 28px, 800, normal);
    color: $light-red;
    margin: 0;
    padding-bottom: 67px;

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 17px);
      padding-bottom: 21px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 551px;
    height: 551px;
    border-radius: 50%;
    background: #F8fbdf;
    filter: blur(200px);
    z-index: -1;
    top: -97px;
    left: -112px;
  }
}
