.features__wrapper {
  margin: 93px 0 103px 73px;

  @media (max-width: $tablet-width) {
    margin: 88px 0 91px;
  }

  h2 {
    max-width: 508px;
    text-align: center;
    width: 100%;

    @media (max-width: $tablet-width) {
      margin: 0 auto;
    }
  }
}

.features__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 79px;
  row-gap: 71px;
  margin-top: 78px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 50px;
    margin-top: 51px;
  }
}

.features__item {
  width: 424px;
  min-height: 89px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  @media (max-width: $tablet-width) {
    width: 506px;
  }

  svg {
    flex-grow: 1;
    margin-right: 15px;

    @media (max-width: $tablet-width) {
      flex-grow: 0;
    }
  }

  p {
    margin: 0;
    @include font($raleway, 14px, 16px, 600, normal);
    color: $main-black;
    max-width: 318px;
    width: 100%;

    @media (max-width: $tablet-width) {
      max-width: 400px;
    }
  }
}
