.features__wrapper {
  margin: 93px 0 103px 73px;

  @media (max-width: $tablet-width) {
    margin: 88px 0 91px;
  }

  @media (max-width: $mobile-width) {
    margin: 48px 0 45px;
  }

  h2 {
    max-width: 508px;
    width: 100%;

    @media (max-width: $tablet-width) {
      margin: 0 auto;
      text-align: center;
    }
  }
}

.features__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 79px;
  row-gap: 71px;
  margin-top: 78px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 50px;
    margin-top: 51px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 28px;
    row-gap: 4px;
  }
}

.features__item {
  max-width: 424px;
  min-height: 89px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  @media (max-width: $tablet-width) {
    max-width: 506px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    flex-wrap: nowrap;
  }

  svg {
    flex-grow: 1;
    margin-right: 15px;

    @media (max-width: $mobile-width) {
      min-width: 58px;
      height: 57px;
      margin-right: 13px;
    }
  }

  p {
    margin: 0;
    @include font($raleway, 14px, 16px, 600, normal);
    color: $main-black;
    max-width: 310px;
    width: 100%;

    @media (max-width: $tablet-width) {
      max-width: 400px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(12px, 14px);
      width: 100%;
      padding-left: 4px;
    }
  }
}
