.form-callback {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;

  p {
    @include font($raleway, 24px, 31px, 700, normal);
    margin: 0;
    color: $very-dark-cyan;
    padding-bottom: 42px;
    max-width: 350px;
    width: 100%;

    @media (max-width: $mobile-width) {
      @include resize-txt(16px, 21px);
      padding-bottom: 37px;

    }
  }
}

.form-callback__wrapper {
  max-width: 370px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.form-callback__data-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-callback__data-item {
  margin-bottom: 12px;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }

  input,
  textarea {
    width: 100%;
    min-height: 44px;
    border: none;
    border-radius: 20px;
    background-color: $main-white;
    padding: 14px 20px;
    @include font($raleway, 12px, 14px, 200, normal);

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
    }
  }

  textarea {
    min-height: 148px;
    resize: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: $main-black;
  }
}

.form-callback__recaptcha {
  margin: 0 auto 24px;

  iframe {
    margin: 0 auto;
    width: 100%;
    max-width: 304px;
  }

  div {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 16px;
  }
}
