.intro {
  min-height: 727px;
  background: linear-gradient(100.53deg, #E4F8F2 13.43%, #E0F3EE 26.9%, #CAF9EF 59.86%, #C4EAE2 92.69%);
  position: relative;

  @media (max-width: $tablet-width) {
    min-height: 1028px;
  }

  @media (max-width: $mobile-width) {
    min-height: 587px;
    overflow: hidden;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
  }

  &::after {
    width: 568px;
    height: 568px;
    background: #f8fbdf;
    filter: blur(240px);
    right: 24px;
    bottom: 0;

    @media (max-width: $mobile-width) {
      width: 328px;
      height: 328px;
    }
  }

  &::before {
    width: 328px;
    height: 328px;
    background: $main-white;
    filter: blur(100px);
    bottom: 119px;
    right: 119px;
    z-index: 1;

    @media (max-width: $mobile-width) {
      width: 92px;
      height: 92px;
    }
  }

  h1,
  p {
    margin: 0;
  }

  h1 {
    @include font($raleway, 52px, 61px, 900, normal);
    padding-bottom: 33px;
    color: $dark-cyan;

    @media (max-width: $tablet-width) {
      @include resize-txt(42px, 49px);
      padding-bottom: 19px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(20px, 23px);
      letter-spacing: -0.1px;
      padding-bottom: 14px;
    }

    span {
      @include font($drina, 100px, 125px, 400, normal);
      color: $light-red;
      padding-top: 10px;

      @media (max-width: $tablet-width) {
        @include resize-txt(80px, 103px);
      }

      @media (max-width: $mobile-width) {
        @include resize-txt(40px, 49px);
      }
    }
  }

  p {
    @include font($raleway, 24px, 28px, 500, normal);
    width: 567px;
    letter-spacing: 0.3px;
    color: $very-dark-cyan;
    width: calc(100% - 535px);

    span {
      font-weight: 800;
    }

    @media (max-width: $tablet-width) {
      text-align: center;
      max-width: 646px;
      width: 100%;
      margin: 0 auto;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 19px);
      letter-spacing: -0.1px;
    }
  }
}

.intro__wrapper {
  padding-top: 71px;
  padding-bottom: 40px;
  margin-left: 70px;
  position: relative;
  z-index: 2;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    text-align: center;
    padding-top: 54px;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 9px;
    padding-bottom: 20px;
  }
}

.intro__img {
  position: absolute;
  right: -28px;
  top: 120px;
  z-index: -1;

  @media (max-width: $tablet-width) {
    position: relative;
    width: 517px;
    height: 444px;
    margin: 0 auto;
    top: 16px;
    left: 6px;
  }

  @media (max-width: $mobile-width) {
    width: 234px;
    height: 234px;
    left: 0;
    top: 4px;
  }
}

.intro__features-list {
  padding-left: 24px;
  margin-top: 55px;

  @media (max-width: $tablet-width) {
    padding-left: 73px;
    text-align: left;
    max-width: 728px;
    width: 100%;
    margin: 39px auto 50px;
  }

  @media (max-width: $mobile-width) {
    max-width: 453px;
    margin: 16px auto 8px;
    padding-left: 16px;
  }
}

.intro__features-item {
  @include font($raleway, 16px, 19px, 800, normal);
  color: $very-dark-cyan;
  padding-bottom: 14px;

  @media (max-width: $mobile-width) {
    @include resize-txt(14px, 18px);
    padding-bottom: 12px;
  }
}

.intro__links {
  display: flex;
  margin-top: 25px;

  @media (max-width: $tablet-width) {
    max-width: 613px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    max-width: 463px;
    padding: 0 5px;
  }
}
