.button-link {
  @include flex-center;
  @include font($raleway, 16px, 19px, 700, normal);

  @media (max-width: $mobile-width) {
    @include resize-txt(12px, 14px);
  }

  &--tel {
    background: $btn-order;
    color: $main-white;
    max-width: 333px;
    min-height: 49px;
    margin-left: 20px;
    width: 100%;

    @media (max-width: $mobile-width) {
      width: 100%;
      min-height: 31px;
      margin-left: 0;
      margin-top: 10px;
    }

    &:hover,
    &:focus-visible {
      background: linear-gradient(273.2deg, #1696A7 4.98%, #4AFDCC 156.06%);
    }
  }

  &--more {
    @include font($raleway, 16px, 19px, 700, normal);
    color: $cyan;
    @include flex-center;
    border: 3px solid $cyan;
    width: 161px;
    min-height: 41px;

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 16px);
      min-height: 31px;
      width: 100%;
    }

    &:hover,
    &:focus-visible {
      border-color: $moderate-cyan;
      background-color: $moderate-cyan;
      color: $main-white;
      transition: $trans--300;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
