.button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  padding: 0;
  border: none;

  &--slider {

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      transform: scale(0.9);
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--burger {
    background-image: url("../img/icon/burger.svg");
    background-repeat: no-repeat;

    @media (max-width: $mobile-width) {

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  &--close {
    background-image: url("../img/icon/close.svg");
    z-index: 45;
    background-size: cover;
  }

  &--popup {
    right: 40px;
    top: 20px;
    width: 30px;
    height: 30px;
    position: absolute;

    @media (max-width: $mobile-width) {
      right: 20px;
    }
  }

  &--form {
    color: $main-white;
    @include font($raleway, 16px, 21px, 700, normal);
    background-color: $cyan;
    width: 100%;
    min-height: 49px;
    border-radius: 20px;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      background-color: #3C8994;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &--order {
    width: 100%;
    min-height: 47px;
    margin-top: auto;
  }

  &--callback {
    width: 333px;
    min-height: 49px;
  }

  &--order,
  &--callback {
    background: $btn-order;
    color: $main-white;
    @include font($raleway, 16px, 19px, 700, normal);

    @media (max-width: $mobile-width) {
      @include resize-txt(12px, 14px);
      width: 100%;
      min-height: 31px;
    }

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      background: linear-gradient(273.2deg, #1696A7 4.98%, #4AFDCC 156.06%);
    }
  }
}
