.popup {
  position: absolute;
  opacity: 0;
  z-index: -5;

  &--show {
    transition: $trans--300;
    background-color: $lime-green;
    opacity: 1;
    display: block;
    position: fixed;
    z-index: 50;
    top: 5%;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    max-width: 738px;
    width: calc(100% - 40px);
    border-radius: 50px;
    padding: 0 20px;
    overflow: hidden;

    @media (max-width: $mobile-width) {
      border-radius: 20px;
    }
  }
}
