.popup {
  position: absolute;
  opacity: 0;
  z-index: -5;

  &--show {
    transition: $trans--300;
    opacity: 1;
    display: block;
    position: fixed;
    z-index: 50;
    top: 5%;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    max-width: 738px;
    width: calc(100% - 40px);
    background-color: $lime-green;
    border-radius: 50px;
    // min-height: 649px;
    overflow: auto;
    padding: 0 20px;
  }
}
